<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Seamless webform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.css'>
</head>

<body>
    <div id="ngl-viewer" style="width:80%; height:500px; margin-left:10% ; margin-top: 20px; margin-bottom: 20px;"></div>

    <div id="app">
        <v-app id="vuetify-app">
            <b-field label="Nucleic acid - protein complex PDB code">
                <b-input
                    v-bind:value="pdb_code"
                    v-model="pdb_code"
                    :editable="true"
                />
            </b-field>
            <b-field label="Nucleic acid chain ID">
                <b-input
                    v-bind:value="na_chain"
                    v-model="na_chain"
                    :editable="true"
                />
            </b-field>
            <b-field label="Protein chain ID">
                <b-input
                    v-bind:value="protein_chain"
                    v-model="protein_chain"
                    :editable="true"
                />
            </b-field>
            <b-field label="Nucleic acid residue ID">
                <b-numberinput
                    v-bind:value="na_resid"
                    v-model="na_resid"
                    :editable="true"
                />
            </b-field>
            <b-field label="Protein residue ID">
                <b-numberinput
                    v-bind:value="protein_resid"
                    v-model="protein_resid"
                    :editable="true"
                />
            </b-field>
            <b-field label="Closest distance versus Chi">
                <iframe src="../ctx/plot" width=100% height=600pt></iframe>
            </b-field>
            <b-field label="Stackings">
                <div v-html="df_stackings"></div>
            </b-field>

        </v-app>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.js'></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/arose/ngl/v2.0.0-dev.32/dist/ngl.js"></script>
    <script type="text/javascript" src="./seamless-client.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>
